Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-missing-comma,
  -bugprone-exception-escape,
  -bugprone-pointer-arithmetic-on-polymorphic-object,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-assignment-in-if-condition,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-deprecated-headers,
  modernize-redundant-void-arg,
  modernize-use-using,
  modernize-use-bool-literals,
  performance-*
WarningsAsErrors: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-missing-comma,
  -bugprone-exception-escape,
  -bugprone-pointer-arithmetic-on-polymorphic-object,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-assignment-in-if-condition,
  -bugprone-unused-return-value,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*
HeaderFilterRegex: '^(?!.*/(external|bazel-out|third_party|envoy)/).*\.(h|hpp)$'
